
OcularCellscope.xcodeproj/project.xcworkspace/xcuserdata/frankiemyers.xcuserdatad/UserInterfaceState.xcuserstate

OcularCellscope.xcodeproj/xcuserdata/frankiemyers.xcuserdatad/xcschemes/AV Camera App.xcscheme

OcularCellscope.xcodeproj/xcuserdata/frankiemyers.xcuserdatad/xcschemes/xcschememanagement.plist
