<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellscopeID</key>
	<string>DEFAULT</string>
	<key>batteryOKThreshold</key>
	<real>3.5</real>
	<key>batteryWarningThreshold</key>
	<real>3.3</real>
	<key>redFocusValue</key>
	<integer>0</integer>
	<key>whiteFocusValue</key>
	<integer>1</integer>
	<key>redFlashValue</key>
	<integer>0</integer>
	<key>whiteFlashValue</key>
	<integer>10</integer>
	<key>focusPosition</key>
	<real>0.8</real>
	<key>previewExposureDuration</key>
	<integer>100</integer>
	<key>previewFlashRatio</key>
	<integer>1</integer>
	<key>previewISO</key>
	<integer>400</integer>
	<key>captureISO</key>
	<integer>100</integer>
	<key>previewRedGain</key>
	<integer>1</integer>
	<key>previewGreenGain</key>
	<integer>1</integer>
	<key>previewBlueGain</key>
	<real>1.5</real>
	<key>captureRedGain</key>
	<integer>1</integer>
	<key>captureGreenGain</key>
	<integer>1</integer>
	<key>captureBlueGain</key>
	<real>1.5</real>
	<key>numberOfImages</key>
	<integer>3</integer>
	<key>captureInterval</key>
	<real>1</real>
	<key>flashDelay</key>
	<integer>0</integer>
	<key>flashDurationMultiplier</key>
	<real>2.5</real>
	<key>debugMode</key>
	<false/>
	<key>mirroredView</key>
	<true/>
	<key>ImageScaleFactor</key>
	<string>10</string>
	<key>ThumbnailSize</key>
	<integer>160</integer>
	<key>fixationLightValue</key>
	<integer>255</integer>
	<key>CellScopeBTUUID</key>
	<string></string>
	<key>patientNumberIndex</key>
	<integer>0</integer>
</dict>
</plist>
