<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugMode</key>
	<false/>
	<key>numberOfImages</key>
	<integer>4</integer>
	<key>arduinoDelay</key>
	<integer>60</integer>
	<key>bleDelay</key>
	<real>0.2</real>
	<key>flashDuration</key>
	<real>0</real>
	<key>timedFlash</key>
	<true/>
	<key>captureDelay</key>
	<real>1</real>
	<key>redFlashValue</key>
	<integer>0</integer>
	<key>whiteFocusValue</key>
	<integer>0</integer>
	<key>whiteFlashValue</key>
	<integer>12</integer>
	<key>redFocusValue</key>
	<integer>12</integer>
	<key>ImageScaleFactor</key>
	<string>10</string>
	<key>ThumbnailSize</key>
	<integer>160</integer>
	<key>mirroredView</key>
	<false/>
	<key>fixationLightValue</key>
	<integer>255</integer>
	<key>CellScopeBTUUID</key>
	<string></string>
	<key>patientNumberIndex</key>
	<integer>0</integer>
</dict>
</plist>
